[Unit]
Description=Run DHT exporter periodically

[Timer]
OnBootSec=30s
OnUnitActiveSec=30s
Unit=dht_exporter.service
Persistent=true

[Install]
WantedBy=multi-user.target
